
body {	font-family: Verdana, Helvetica, sans-serif;
	background-color: black;
}

body::-webkit-scrollbar { display: none; }

p    {color: white;}
h1   {color: white;}
h2   {color: white;}
h3   {color: white;}
a { text-decoration: none; }

* { box-sizing: border-box; }

.left {background-color: black; padding: 5px; float: left; width: 5%; }

.main {
	background-color: #151B54; /* For browsers that do not support gradients */
	background-image: linear-gradient(to bottom, black, #151B54, #36013F);
	border: 1px solid gray;
	float: left;
	padding: 12px;
	width: 90%; /* The width is 60%, by default */
}

.right {background-color: black; padding: 5px; float: left; width: 5%; }

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right { width: 100%; /* The width is 100%, when the viewport is 800px or smaller */ }
}

.title {
  margin: auto;
  width: 95%;
  padding: 3px;
  background-color: #151B54; /* For browsers that do not support gradients */
  border: 2px solid lightgray;
  border-radius: 20px;
}

.uplanianos-h1-glow {
  font-size: 34px;
  color: #fff;
  text-align: center;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from { text-shadow: 0 0 10px #999, 0 0 20px #999, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073; }
  to { text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6; }
}

.labels {
  margin: auto;
  width: 92%;
  padding: 3px;
}

.bubbles {
  display: inline-block;
  margin-left: 6px;
  margin-right: 6px;
  width: 180px;
  padding: 3px;
  background-color: #151B54;
  border: 2px solid lightgray;
  border-radius: 12px;
  text-align: center;
}

.info-div {
  margin-left: 40px auto;
  text-align: center;
  padding: 6px;
  overflow-x: scroll;
  white-space: nowrap;
}

.info-div::-webkit-scrollbar { display: none; }

